{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Trail Show Ticket</title>
    <link rel="stylesheet" href="{%static  'css/showmyticket.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
</head>

<body>
    <p class="header">Your Ticket</p>
    <div class="divdownloadcontent">
        <h1>HappyRide</h1>
        <div class="constant">
            <p class="const"><strong>Date of Journey:</strong> {{ reserv_date }} &nbsp; &nbsp;&nbsp; &nbsp;
                <strong>Boarding at:</strong> {{ boardingpoint }} &nbsp; &nbsp;&nbsp; &nbsp; <strong> Departure
                    to:</strong>{{ droppingpoint }}</p>
            <p class="const"><strong> Boarding time:</strong>{{ boardingtime }} &nbsp; &nbsp;&nbsp; &nbsp; <strong>
                    Departure time:</strong>{{ droppingtime }}</p>
            <p class="const"><strong> Boarding Address:</strong>{{ boardingadd }} &nbsp; &nbsp;&nbsp; &nbsp; <strong>
                    Departure Address:</strong>{{ droppingadd }}</p>
        </div>

        <div class="ticket-container">
            {% for passenger in passengersdeatils%}
            <div class="ticket">
                <h2>Passenger details</h2>
                <p><strong>Passenger name:</strong>{{ passenger.0 }}</p>
                <p><strong>Seat No:</strong>{{ passenger.1 }}</p>
                <p><strong>Gender:</strong>{{ passenger.2 }}</p>
                <p><strong>Age:</strong>{{ passenger.3 }}</p>

            </div>
            {% endfor %}
        </div>
    </div>
    <br>
    <button class="download" type="button">Download</button>
    <pre>
    <strong>Note:</strong>Please keep this digital copy of ticket with you while traveling
    </pre>
    <form action="{% url 'home' %}" method="post">
        {% csrf_token %}
        <button class="back" type="submit">Home</button>
    </form>
    <script>
        const download = document.querySelector('.download');
            download.addEventListener('click', function() {
                // Get HTML content
                var content = document.querySelector('.divdownloadcontent');
                var opt = {
                    filename : "Myticket.pdf",
                    margin: [-1, 0.5, -5, 0.5],
                    image : {type: 'jpej', quality: 1},
                    jsPDF : {unit: "in", format: "legal",  orientation: "landscape"},
                 
                    html2canvas: {
                        scale: 1 
                    }
                }
                html2pdf().from(content).set(opt).save();
            });
      </script>
      

    
</body>

</html>